/**
 * @author - https://piccalil.li/blog/a-modern-css-reset/
 */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  text-align: left;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: system-ui;
}

.container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--clr-background, #222222);
  display: grid;
  place-items: center;
  grid-template-areas: "stack";
}

.columns {
  display: flex;
  gap: 3rem;
}

.order {
  position: absolute;
  user-select: none;
  font-family: "Share Tech Mono", monospace;
  font-size: 90rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.03);
  pointer-events: none;
}

.btn {
  font-family: var(--f-family, sans-serif);
  font-size: var(--f-size, 1rem);
  font-weight: var(--f-weight, 400);
  letter-spacing: var(--f-spacing, 0);
  color: var(--clr-text);
  background-color: var(--clr-background);
  border-radius: var(--radius, 0);
  line-height: 1;
}

.cut-corners .btn {
  --f-family: "Roboto";
  --f-size: 1.1rem;
  --f-weight: 500;
  --f-spacing: 0.095em;
  --clr-background: hsl(39, 55%, 59%);
  --clr-text: hsl(0, 0%, 100%);
  --edge-size: 1.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 6.5em;
  transition: clip-path 150ms ease;
  clip-path: polygon(var(--edge-size) 0%, 100% 0, 100% calc(100% - var(--edge-size)), calc(100% - var(--edge-size)) 100%, 0 100%, 0% var(--edge-size));
}
.cut-corners .btn:hover {
  --edge-size: 0%;
}

.cut-corners-border .btn {
  --f-family: "Montserrat";
  --f-size: 1.4rem;
  --f-weight: 400;
  --f-spacing: 0.055em;
  --clr-border: hsla(0, 0%, 50%, 0.7);
  --clr-text: hsla(0, 0%, 100%, 0.8);
  --clr-background: hsl(241, 96%, 72%);
  --border-space: -0.35em;
  --border-edge: 1.8em;
  position: relative;
  display: inline-grid;
  place-items: center;
  transition: color 150ms, background-color 100ms ease-in-out;
}
.cut-corners-border .btn:hover {
  --border-edge: 0%;
  --clr-text: hsl(0, 0%, 100%);
  --clr-background: hsl(241, 96%, 80%);
}
.cut-corners-border .btn:hover .btn__border::after, .cut-corners-border .btn:hover .btn__border::before {
  opacity: 0;
}
.cut-corners-border .btn:active {
  --border-space: -0.1em;
  --clr-background: transparentize;
}
.cut-corners-border .btn__content {
  padding: 1.3em 3.5em;
  text-transform: uppercase;
  transition: inherit;
}
.cut-corners-border .btn__border {
  position: absolute;
  inset: var(--border-space);
  border: 1px solid var(--clr-border);
  transition: clip-path 200ms 0ms, inset 70ms ease-in-out;
  clip-path: polygon(var(--border-edge) 0%, 100% 0, 100% calc(100% - var(--border-edge)), calc(100% - var(--border-edge)) 100%, 0 100%, 0% var(--border-edge));
}
.cut-corners-border .btn__border::before, .cut-corners-border .btn__border::after {
  content: "";
  position: absolute;
  inline-size: var(--border-edge);
  aspect-ratio: 1/1;
  display: block;
  background-color: var(--clr-border);
  transition: opacity 0ms 110ms;
  opacity: 1;
}
.cut-corners-border .btn__border::before {
  top: -0.3px;
  left: -0.3px;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.cut-corners-border .btn__border::after {
  bottom: 0;
  right: -0.5px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.neon.container {
  --clr-background: #111111;
}

.neon .btn {
  --f-family: "Montserrat";
  --f-size: 3rem;
  --clr-background: transpartent;
  --clr-text: hsl(111, 100%, 54%);
  position: relative;
  padding: 0.25em 1em;
  border: 3px solid;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em currentColor, 0 0 0.45em hsla(0deg, 0%, 100%, 0.25);
  box-shadow: inset 0 0 0.35em 0 currentColor, 0 0 0.35em 0 currentColor;
  transition: all 60ms linear;
}
.neon .btn:hover, .neon .btn:focus-visible {
  text-shadow: 0 0 0.3em currentColor, 0 0 0.6em hsla(0deg, 0%, 100%, 0.45);
  box-shadow: inset 0 0 1em 0 currentColor, 0 0 0.7em 0 currentColor;
}
.neon .btn:hover::before, .neon .btn:focus-visible::before {
  opacity: 0.9;
}
.neon .btn::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 120%;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--clr-text);
  opacity: 0.6;
  filter: blur(1.5em);
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  transition: all 60ms linear;
}

.follow .btn {
  --f-family: "Roboto";
  --f-size: 1.5rem;
  --f-weight: 800;
  --f-spacing: 0.125em;
  --clr-background: hsl(206, 100%, 50%);
  --clr-background-content: hsl(216, 100%, 50%);
  --clr-text: hsl(0, 0%, 100%);
  --icon-size: 1.65em;
  --radius: 0.75em;
  --translate-X: 0;
  --translate-Y: 0;
  --transition-ease: cubic-bezier(0.89, 0.03, 0.06, 1.5);
  position: relative;
  overflow: hidden;
  display: inline-grid;
  place-items: center;
  padding: 2em 7em;
}
.follow .btn.btn--move-content-top {
  --translate-Y: -100% ;
}
.follow .btn.btn--move-content-bottom {
  --translate-Y: 100% ;
}
.follow .btn.btn--move-content-left {
  --translate-X: -100% ;
}
.follow .btn.btn--move-content-right {
  --translate-X: 100% ;
}
.follow .btn:hover .btn__content {
  transform: translate(var(--translate-X), var(--translate-Y));
}
.follow .btn:hover .btn__list-item {
  transform: scale(1);
  opacity: 1;
}
:where(.follow .btn__content, .follow .btn__list) {
  inset: 0;
  position: absolute;
}
.follow .btn__content {
  border-radius: inherit;
  text-transform: uppercase;
  background: var(--clr-background-content);
  display: grid;
  place-items: center;
  transition: transform 1000ms var(--transition-ease);
}
.follow .btn__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.follow .btn__list-item {
  transition: 700ms var(--transition-ease);
  opacity: 0;
  transform: scale(0);
}
.follow .btn__list-item:nth-of-type(1) {
  transition-delay: 70ms;
}
.follow .btn__list-item:nth-of-type(2) {
  transition-delay: 140ms;
}
.follow .btn__list-item:nth-of-type(3) {
  transition-delay: 210ms;
}
.follow .btn__list-item:nth-of-type(4) {
  transition-delay: 280ms;
}
.follow .btn__list-item svg {
  fill: var(--clr-text);
  width: var(--icon-size);
  aspect-ratio: 1;
  transform: scale(1);
  transition: 400ms var(--transition-ease);
}
.follow .btn__list-item:hover svg {
  --clr-text: #ffe347;
  transform: scale(1.25);
}
:where(.follow .btn__side-left, .follow .btn__side-right) {
  position: absolute;
  inline-size: 2px;
  block-size: 100%;
}
:where(.follow .btn__side-top, .follow .btn__side-bottom) {
  position: absolute;
  inline-size: 100%;
  block-size: 2px;
}
.follow .btn__side-left {
  left: 0;
}
.follow .btn__side-right {
  right: 0;
}
.follow .btn__side-top {
  top: 0;
}
.follow .btn__side-bottom {
  bottom: 0;
}

.hamburger .btn {
  --_weight: var(--stroke, 0.5em);
  --_size: var(--size, 7em);
  --_fg: var(--fg, #F20568);
  --_transition-duration: 150ms;
  --_transition-timing: ease-in;
  border: var(--_weight) solid var(--_fg);
  border-radius: 0.4em;
}
.hamburger .btn svg {
  inline-size: var(--_size);
  block-size: var(--_size);
}

.hamburger .btn:nth-child(1) svg {
  fill: var(--_fg);
}
.hamburger .btn:nth-child(1) rect {
  block-size: calc(var(--_weight) * 2);
  transform-origin: center;
  transition: y var(--_transition-duration) var(--_transition-timing) var(--_transition-duration), rotate var(--_transition-duration) var(--_transition-timing), opacity 0ms var(--_transition-duration);
}
.hamburger .btn:nth-child(1):hover rect {
  transition: y var(--_transition-duration) var(--_transition-timing), rotate var(--_transition-duration) var(--_transition-timing) var(--_transition-duration), opacity 0ms var(--_transition-duration);
}
.hamburger .btn:nth-child(1):hover rect:where(:first-child, :last-child) {
  y: 45;
}
.hamburger .btn:nth-child(1):hover rect:first-child {
  rotate: 45deg;
}
.hamburger .btn:nth-child(1):hover rect:not(:first-child):not(:last-child) {
  opacity: 0;
}
.hamburger .btn:nth-child(1):hover rect:last-child {
  rotate: -45deg;
}

.hamburger .btn:nth-child(2) {
  --fg: #F2B705;
}
.hamburger .btn:nth-child(2) svg {
  stroke: var(--_fg);
  transition: rotate 1s;
}
.hamburger .btn:nth-child(2):hover svg {
  rotate: 0.5turn;
}
.hamburger .btn:nth-child(2) line {
  animation: to-open-icon 1s forwards;
}
.hamburger .btn:nth-child(2) line:first-child {
  --_rotation: -45deg;
  transform-origin: 65px 45px;
}
.hamburger .btn:nth-child(2) line:last-child {
  --_rotation: 45deg;
  transform-origin: 60px 55px;
}
.hamburger .btn:nth-child(2):hover line {
  animation: to-close-icon 1s forwards;
}
@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: var(--_rotation);
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--_rotation);
  }
}
@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--_rotation);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--_rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.hamburger .btn:nth-child(3) {
  --fg: #05F250;
}
.hamburger .btn:nth-child(3) svg {
  stroke: var(--_fg);
  transition: translate 1s, rotate 1s;
}
.hamburger .btn:nth-child(3):hover svg {
  translate: 5px -5px;
  rotate: 0.125turn;
}
.hamburger .btn:nth-child(3) path {
  stroke-dasharray: 60 30 60 1000;
  transition: 1s;
}
.hamburger .btn:nth-child(3):hover path {
  stroke-dasharray: 60 105 60 1000;
  stroke-dashoffset: -90;
}

.circles-container {
  --_container-size: var(--container-size, 25rem);
  --_btn-size: var(--btn-size, 7rem);
  --_circle-size: calc(var(--_btn-size) / 1.75);
  --_bg: var(--bg, hsla(0, 0%, 94%));
  --_fg: var(--fg, #111111);
  position: relative;
  inline-size: var(--_container-size);
  block-size: var(--_container-size);
  display: grid;
  place-items: center;
}

.circles .btn {
  position: relative;
  inline-size: var(--_btn-size);
  block-size: var(--_btn-size);
  background-color: var(--_bg);
  color: var(--_fg);
  border-radius: 50%;
  transition: rotate 1000ms;
  display: grid;
  place-items: center;
}
.circles .btn.active {
  rotate: 1turn;
}
.circles .btn svg {
  translate: 4% 0;
  inline-size: 60%;
  block-size: 60%;
  color: inherit;
  fill: currentColor;
}

.circles .list {
  list-style: none;
  position: absolute;
  left: calc(50% - var(--_circle-size) / 2);
}
.circles .list li {
  position: absolute;
  left: 0;
  transition: rotate 0.5s ease-out, scale 0.4s ease-out;
  translate: 0 -50%;
  rotate: calc(45deg * var(--i));
  scale: 0;
  animation: spin 40s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0turn) translateY(calc(var(--_container-size) / 2 * -1)) translateY(50%) rotate(1turn);
  }
  100% {
    transform: rotate(1turn) translateY(calc(var(--_container-size) / 2 * -1)) translateY(50%) rotate(0turn);
  }
}
.circles .list li:hover {
  --_bg: var(--clr);
}
.circles .list a {
  display: grid;
  place-items: center;
  rotate: calc(-45deg * var(--i));
  background-color: var(--_bg);
  color: var(--_fg);
  inline-size: var(--_circle-size);
  block-size: var(--_circle-size);
  border-radius: 50%;
}
.circles .list svg {
  color: inherit;
  fill: currentColor;
}

.circles:has(.active) li {
  transition-delay: calc(0.0625s * var(--i));
  scale: 1;
}

/*# sourceMappingURL=main.css.map */
