.hamburger .btn {
    --_weight: var(--stroke, 0.5em);
    --_size: var(--size, 7em);
    --_fg: var(--fg, #f20568);
    --_transition-duration: 150ms;
    --_transition-timing: ease-in;

    border: var(--_weight) solid var(--_fg);
    border-radius: 0.4em;

    svg {
        inline-size: var(--_size);
        block-size: var(--_size);
    }
}

.hamburger .btn:nth-child(1) {
    svg {
        fill: var(--_fg);
    }

    rect {
        block-size: calc(var(--_weight) * 2);
        transform-origin: center;
        transition: y var(--_transition-duration) var(--_transition-timing)
                var(--_transition-duration),
            rotate var(--_transition-duration) var(--_transition-timing),
            opacity 0ms var(--_transition-duration);
    }

    &:hover rect {
        transition: y var(--_transition-duration) var(--_transition-timing),
            rotate var(--_transition-duration) var(--_transition-timing)
                var(--_transition-duration),
            opacity 0ms var(--_transition-duration);
    }

    &:hover rect:where(:first-child, :last-child) {
        y: 45;
    }

    &:hover rect:first-child {
        rotate: 45deg;
    }

    &:hover rect:not(:first-child):not(:last-child) {
        opacity: 0;
    }

    &:hover rect:last-child {
        rotate: -45deg;
    }
}

.hamburger .btn:nth-child(2) {
    --fg: #f2b705;

    svg {
        stroke: var(--_fg);
        transition: rotate 1s;
    }
    &:hover svg {
        rotate: 0.5turn;
    }

    line {
        animation: to-open-icon 1s forwards;
    }

    line:first-child {
        --_rotation: -45deg;
        transform-origin: 65px 45px;
    }

    line:last-child {
        --_rotation: 45deg;
        transform-origin: 60px 55px;
    }

    &:hover line {
        animation: to-close-icon 1s forwards;
    }

    @keyframes to-close-icon {
        0% {
            stroke-dashoffset: 0;
        }

        40% {
            stroke-dashoffset: 79.9;
        }

        60% {
            stroke-dashoffset: 79.9;
            rotate: var(--_rotation);
        }

        100% {
            stroke-dashoffset: 0;
            rotate: var(--_rotation);
        }
    }

    @keyframes to-open-icon {
        0% {
            stroke-dashoffset: 0;
            rotate: var(--_rotation);
        }

        40% {
            stroke-dashoffset: 79.9;
            rotate: var(--_rotation);
        }

        60% {
            stroke-dashoffset: 79.9;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }
}

.hamburger .btn:nth-child(3) {
    --fg: #05f250;

    svg {
        stroke: var(--_fg);
        transition: translate 1s, rotate 1s;
    }

    &:hover svg {
        translate: 5px -5px;
        rotate: 0.125turn;
    }

    path {
        stroke-dasharray: 60 30 60 1000;
        transition: 1s;
    }

    &:hover path {
        stroke-dasharray: 60 105 60 1000;
        stroke-dashoffset: -90;
    }
}
